ACTION=="change", SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/home/syn/.local/bin/bar-bat"
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/home/syn/.local/bin/bar-bat"

