@-moz-document url(about:blank), url(about:newtab) {
	#newtab-window, html:not(#ublock0-epicker) {
		background: #222 !important;
	}
}

@-moz-document url-prefix(https://raw.githubusercontent.com) {
  html {
    background: #122 !important;
    color: #eee !important
  }
}

@-moz-document url-prefix(https://a.yandex-team.ru) {
    body {
        background: #122;
        color: #eee;
    }
}

@-moz-document url-prefix(https://coredumps.yandex-team.ru) {
  pre {
    font-family: Uosevka !important;
  }
}